*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
/*header*/

header{
    background-color: #EAC926;
}
div.top-header{
    padding: 5%;
    width: 95%;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid salmon;
}

header div.logo{
    width: 50%;
    border: 1px solid salmon;   
}

header nav{
    font-size: 12px;
    margin-left: 5px;
}

.siteMenu{
    display: none;
}

.loginNavbar {
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form {
    margin-top: 5px;  
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid salmon;
    height: 10px;
    
}

header .form .input{
    background-color: #FFF;
    border: none;
    width: 85%;
    outline: none;
    color: #666;
    padding: 2px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}

header .form .submit{
    background-color: #FFF;
    border: none;
    color: #666;
    width: 15%;
    text-align: center;
    
}

.fa-search{
    text-align: center;
    padding-top: 5px;
    padding-left: 4px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 30px;
}

section.banner img{
    width: 100%;
}
/*body*/

main{
    width: 90%;
    margin: 0 auto;
}

.products{
    display: flex;
    flex-wrap: wrap;
}
.articulo {
    width: 98%;    
}

.price{
    font-size: 18px;
    margin-right: 5px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.precioDescuento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid salmon;
}

h3,
.description{
    color: #666;
}

.description{
    margin-top: 10px;
    display: none;
  
}
.articulo:hover .description {
    display: inline-block;
   
}


article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    border-top: 2px solid grey;
  }

main section article{   
    background-color: #fff;    
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
}

main section article:hover{
box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article img{
    width: 100%;    
}

main section article i,
.discount{
    color: #39b54a;
}


.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    left: 240px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}


/* formulario */

form p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 3vh; 
}
form{
    width: 90%;
    margin: auto;
    margin-top: 1vh;
   
}
form label {
    margin-top: 3vh;
    font-weight: bold;       
}

#nombre,#usuario,#date,#domicilio,#password{
 width: 90%;    
}

#Perfil {
    font-weight: normal;
}

form button {
    background-color: #0044AA;
    color: white;    
    padding: 10px;
    width: 90%;
    border: none;
}

button:hover{
    background-color: #6e9fe7;
}


.botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin: auto;
    justify-content: center;
}
/*formulario acceso*/

.loginUsuario{
    width: 90%;
    margin: auto;
}

/*footer*/

footer{
    background-color: white;
    text-align: center;
    margin-top: 20px;
    width: 95%;
    margin: auto;
}

footer h5 p{
    color: #666;
}

.fa-credit-card , .fa-gift , .fa-user-shield{
    color: #03264C;
    font-size: 25px;
    margin-top: 10px;
}

/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/


/*table*/
@media (min-width: 390px){

 /*header*/

 nav {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    padding: 10px;
}
nav ul li{
    margin-left: 4px;
}
.siteMenu{
    display: inline-block;
    display: flex;
    flex-direction: row;

}

.loginNavbar {
    display: inline-block;
    display: inline-block;
    display: flex;
    flex-direction: row;
}


div.burger-menu{
    text-align: center;
    display: none;
}


header div.logo{
    width: 30%;
    border: 1px solid salmon;   
}

header .form {
    margin-top: 5px;
    margin-left: 3%;  
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid salmon;
    height: 10px;
    
}

.cuotas {
    border: 1px solid salmon;
    width: 30%;
}

    .products{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: 2px solid salmon;

    }
    
    .articulo {
        border: 2px solid salmon;
        width: 45%;
        margin: auto;
         
    }

    .description{
        margin-top: 10px;
        display: inline-block;
    }

    
}

/*desktop*/

@media (min-width: 769px){
    /*header*/

    nav {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5px;
        padding: 10px;
    }
    nav ul li{
        margin-left: 4px;
    }
    .siteMenu{
        display: inline-block;
        display: flex;
        flex-direction: row;

    }
    
    .loginNavbar {
        display: inline-block;
        display: inline-block;
        display: flex;
        flex-direction: row;
    }

    
    div.burger-menu{
        text-align: center;
        display: none;
    }


    header div.logo{
        width: 30%;
        border: 1px solid salmon;   
    }

    header .form {
        margin-top: 5px;
        margin-left: 3%;  
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: 1px solid salmon;
        height: 10px;
        
    }

    .cuotas {
        border: 1px solid salmon;
        margin-left: 15px;
    }

    .products{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: 2px solid rgb(49, 45, 44);

    }
    
    .articulo {
        border: 2px solid salmon;
        width: 20%;
        margin: auto;
         
    }

    .description{
        margin-top: 10px;
        display: none;
    }

    .articulo,.description:hover{
        display: block;
    }
   

  

}

@media (min-width:1200px) {
    
}
