*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
/*header*/

header{
    background-color: #EAC926;
}
div.top-header{
    padding: 5%;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header div.logo{
    width: 80%;

    margin: auto;
   
    
}

header nav{
    font-size: 12px;
    margin-left: 5px;
    
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form {
    margin-top: 5px;
   
    width: 100%;
    display: flex;
    
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    width: 90%;
    outline: none;
    color: #666;
    padding: 2px;

}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.fa-search{
    text-align: center;
    padding-top: 3px;
    padding-left: 4px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 30px;
}

section.banner img{
    width: 100%;
}
/*body*/

main{
    width: 90%;
    margin: 0 auto;
}

.products{
    display: flex;
    flex-wrap: wrap;
}
.articulo {
    width: 98%;
}


.price{
    font-size: 18px;
    margin-right: 5px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    margin-top: 10px;
}


article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    border: 1px solid salmon;
}

main section article{   
    background-color: #fff;    
    margin: 10px 0px;
    border: 1px solid salmon;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{    
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 1px;
    left: 220px;
    top: -25px;

}

main section h3{
    margin: 20px 0px;
}




/* formulario */

form p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 3vh; 
}
form{
    width: 90%;
    margin: auto;
    margin-top: 1vh;
   
}
form label {
    margin-top: 3vh;
    font-weight: bold;       
}

#nombre,#usuario,#date,#domicilio{
 width: 90%;    
}

#Perfil {
    font-weight: normal;
}

form button {
    background-color: #0044AA;
    color: white;    
    padding: 10px;
}


.botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin: auto;
    justify-content: center;
}



/*footer*/

footer{
    background-color: white;
    text-align: center;
    margin-top: 20px;
    width: 95%;
    margin: auto;
}

footer h5 p{
    color: #666;
}
.fa-credit-card , .fa-gift , .fa-user-shield{
    color: #03264C;
    font-size: 25px;
    margin-top: 10px;
}

/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/





@media (min-width: 361px){
    main section article .description{
      
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
  
    }

    
    
}

@media (min-width: 769px){
    main section article {
        width: 48%;
    }
}

@media (min-width:1200px) {
    main section article{
        width: 23%;
        margin: 1%;
    }
}
